#Products {
    height: 120vh;
    padding-bottom: 2.5rem;
    .hero {
        margin: 10rem auto 7rem;
        width: fit-content;
        text-align: center;
        span {
            color: #222;
            font-size: 1.2rem;
            letter-spacing: 0.5px;
            text-transform: capitalize;
            color: transparent;
            opacity: 0.7;
            // opacity: 1;
            font-family: Gills;
            // border: 1.5px solid white;
            // font-weight: 900;
            // color: white; // font-weight: 900;
            //   font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
            //   margin: 6rem auto 2rem 2.5rem;
            // font-family: Gills;
            //   font-weight: 900;
            //   text-shadow: 0 0 3px #3332;
            //   line-height: 3rem;
            -webkit-text-stroke: 1px #333;
        }
        h1 {
            z-index: -2;
            // text-shadow: 0 0 5px $white;
            font-size: 8.5rem;
            //   letter-spacing: -0.5px;
            text-transform: capitalize;
            color: transparent;
            opacity: 0.25;
            // opacity: 1;
            // border: 1.5px solid white;
            // font-weight: 900;
            // color: white; // font-weight: 900;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin: 0.25rem auto -1.8rem 2.5rem;
            // font-family: Gills;
            font-weight: 900;
            line-height: 3rem;
            -webkit-text-stroke: 2px $gray;
        }
        h2 {
            font-family: GillsHeavy;
            //   text-align: right;
            text-transform: capitalize;
            //   text-transform: uppercase;
            font-size: 3rem;
            letter-spacing: -1px;
            &::after {
                content: '';
                position: absolute;
                bottom: 0.5rem;
                right: 10rem;
                width: 10rem;
                height: 1rem;
                border-radius: 1000px;
                z-index: -1;
                // z-index: 1;
                background-color: $yellow2;
                border: 2px solid $deep_yellow;
            }
            //   font-family: GillsBold;
        }
    }
    main {
        .swiper-wrapper {
            padding: 1rem 5rem 2.5rem 0;
        }
        .swiper-slide:first-child > .card {
            // margin: 0 4rem 0 1rem;
            margin-left: 4rem;
        }
        // .swiper-slide:last-child > .card {
        //     margin-right: 5rem;
        // }
        // .swiper-slide:last-of-type
        // @include flex;
        // gap: 2.7rem;
        padding: 0 5rem;
        .card {
            position: relative;
            box-shadow: 0 0 12px 1px #eee;
            //   box-shadow: 0 0 25px 1px $gray;
            min-width: 370px;
            border-radius: 45px;
            overflow: hidden;
            border: 1px solid #eee;
            cursor: grabbing;
            @include transShort;
            img {
                width: 100%;
                height: 30vh;
                object-fit: cover;
            }
            .container {
                padding: 1rem 2.2rem;
                h3 {
                    font-family: Bart;
                    font-size: 1.8rem;
                    margin: 1.5rem auto 0.7rem;
                    color: $black3;
                }
                p {
                    font-size: 1.2rem;
                    line-height: 2rem;
                    opacity: 0.9;
                    padding-right: 1rem;
                    @include transShort;
                    font-family: Gills;
                    color: $gray_brown;
                }
            }

            // &:last-child > .container > p {
            //     display: none;
            //     margin-right: 15rem;
            // }
            &:hover {
                box-shadow: 0 0 20px 1px $light_gray;
                .container h3 {
                    color: $black;
                }
                .container p {
                    opacity: 1;
                    color: $dark_brown;
                }
            }

            > span {
                display: flex;
                position: absolute;
                background-color: white;
                border-radius: 10000px;
                width: 5rem;
                height: 5rem;
                top: 10rem;
                left: 1rem;
                align-items: center;
                justify-content: center;
                svg {
                    color: $brown;
                    font-size: 2rem;
                }
            }
        }
    }
}
