$gray_brown: #3e3333;
$dark_brown: #2e0f10;
$brown: #541c1d;
$white: #f3ebec;
// $white: #f6eee8;
$pink: #e7c7b0;

$light_yellow: #ffe330;
$yellow: #f6d70b;
$yellow2: #f2d30b;
$deep_yellow: #f1c30b;
$dirty_yellow: #977900;
$dirty_yellow_shadow: #9779003a;
$dirty_yellow_shadow2: #97790077;
$orange: #f8a414;
$sun_yellow: #ffb300;

$black: #111;

// FONTS
@font-face {
  font-family: Bart;
  src: local(Bart), url("/src/Fonts/Bartkey/BARTKEY-2.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: Gills;
  src: local(Gills),
    url("/src/Fonts/Gill-Sans/Gill-Sans.otf") format("opentype");
}
@font-face {
  font-family: GillsHeavy;
  src: local(GillsHeavy),
    url("/src/Fonts/Gill-Sans/Gill-Sans-Heavy.otf") format("opentype");
  font-weight: 900;
}
@font-face {
  font-family: GillsBold;
  src: local(GillsBold),
    url("/src/Fonts/Gill-Sans/Gill-Sans-Bold.otf") format("opentype");
}

//  MIXINS
@mixin flex($align: center, $jus: space-between, $dir: row) {
  display: flex;
  justify-content: $jus;
  align-items: $align;
  flex-direction: $dir;
}

@mixin transShort {
  transition: all 150ms ease-in-out;
}
@mixin trans {
  transition: all 250ms ease-in-out;
}
@mixin transLong {
  transition: all 450ms ease-in-out;
}
