$gray_brown: #3e3333;
$dark_brown: #2e0f10;
$brown: #541c1d;
$white: #f3ebec;
$pink: #e7c7b0;
$pinkish: #fce1d7;
$pinkish_Light: #faefec;

$light_yellow: #ffe330;
$yellow: #f6d70b;
$yellow2: #f2d30b;
$deep_yellow: #f1c30b;
$dirty_yellow: #977900;
$dirty_yellow_shadow: #9779003a;
$dirty_yellow_shadow2: #97790077;
$orange: #f8a414;
$sun_yellow: #ffb300;

$black: #111;
$black2: #222;
$black3: #333;
$gray: #aaa;
$light_gray: #ccc;

// FONTS
@font-face {
  font-family: Bart;
  src: local(Bart), url("/src/Fonts/Bartkey/BARTKEY-2.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: Gills;
  src: local(Gills),
    url("/src/Fonts/Gill-Sans/Gill-Sans.otf") format("opentype");
}
@font-face {
  font-family: GillsHeavy;
  src: local(GillsHeavy),
    url("/src/Fonts/Gill-Sans/Gill-Sans-Heavy.otf") format("opentype");
  font-weight: 900;
}
// @font-face {
//     font-family: GillsBold;
//     src: local(GillsBold),
//         url('/src/Fonts/Gill-Sans/Gill-Sans-Bold.otf') format('opentype');
// }

//  MIXINS
@mixin flex($align: center, $jus: space-between, $dir: row) {
  display: flex;
  justify-content: $jus;
  align-items: $align;
  flex-direction: $dir;
}

@mixin transShort {
  transition: all 150ms ease-in-out;
}
@mixin trans {
  transition: all 250ms ease-in-out;
}
@mixin transLong {
  transition: all 450ms ease-in-out;
}

@keyframes bounce {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(25%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1.2);
  }
}
@keyframes zoom2 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1.3);
  }
}

@mixin footerLine {
  &::after {
    content: "";
    position: absolute;
    bottom: -2px;
    width: 90vw;
    left: -0.5rem;
    opacity: 0.1;
    height: 1px;
    background-color: $pinkish;
  }
  @media screen and (min-width: 320px) and (min-height: 551px) and (max-height: 750px) {
    &::after {
      width: 82vw;
      left: -0.25rem;
    }
  }
  @media screen and (min-width: 481px) and (max-width: 768px) and (max-height: 1024px) {
    &::after {
      width: 91vw;
      left: -0.1rem;
    }
  }
}

@mixin noFooterLine {
  &::after {
    position: absolute;
    bottom: 0;
    width: 0;
    left: 0;
    opacity: 0;
  }
  @media screen and (min-width: 320px) and (min-height: 551px) and (max-height: 750px) {
    &::after {
      width: 0;
      left: 0;
    }
  }
}

@mixin svgValues($siz) {
  $min: $siz - 1vw;
  $max: $siz + 2vw;
  svg {
    height: $siz;
    width: $siz;
    &.min {
      height: $min;
      width: $min;
    }
    &.max {
      height: $max;
      width: $max;
    }
  }
}
