@import "../colors";
nav.Navbar {
  @include flex;
  z-index: 3;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 10vh;
  background: linear-gradient(0deg, #00000003, #0002);

  //  SCROLLED CHANGES
  &.Light {
    background: white;
    position: fixed;

    .Logo {
      span {
      }
      p {
        color: $black;
      }
    }
    > nav {
      a {
        color: $black;
        &:hover {
        }
        &.screen {
          color: black;
        }
      }
    }
  }

  .Logo {
    @include flex;
    padding-left: 2.5rem;
    color: white;
    span {
      font-size: 3rem;
      color: $deep_yellow;
    }
    p {
      font-family: Bart;
      text-transform: uppercase;
      font-size: 1rem;
      letter-spacing: 2px;
      height: fit-content;
      color: white;
      width: 8rem;
      text-align: center;
      // width: 120px;
    }
  }
  > nav {
    padding-right: 1.5rem;
    a {
      font-weight: 500;
      letter-spacing: -0.1px;
      text-transform: uppercase;
      text-decoration: none;
      color: $white;
      margin-right: 2rem;
      @include transShort;
      opacity: 0.8;
      font-size: 1.1rem;
      &:hover {
        opacity: 1;
        color: white;
      }
      // ACTIVE NAV
      &.screen {
        letter-spacing: -0.5px;
        opacity: 1;
        color: white;
        font-size: 1.2rem;
        font-weight: 600;
        // &:hover::after,
        &::after {
          content: "";
          position: absolute;
          top: -0.4rem;
          left: -0.75rem;
          width: 2.4rem;
          height: 2.4rem;
          border-radius: 1000px;
          z-index: -1;
          // z-index: 1;
          background-color: $yellow2;
          border: 2px solid $deep_yellow;
        }
      }
    }
  }
}

/*
.navbar {
  height: 9vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 48;
  @include trans(350ms);
  @include flex($justify: space-between);
  .logo {
    z-index: 49;
    margin: 0.5rem 0 0 2.1rem;
    &:hover {
      cursor: pointer;
    }
    svg {
      width: 36px;
      height: 33px;
      z-index: 5;
      path {
        fill: $themeBlack2;
        &:first-of-type {
          fill: $themeBlue;
        }
      }
    }
  }
  .navigation {
    margin: auto 2.7rem;
    @include flex;
    .navContextual {
      display: none;
    }
    .nav {
      border: 3px solid transparent;
      color: $themeWhite;
      margin: 0 10px 0 3px;
      opacity: 0.55;
      @include trans(450ms);
      -webkit-text-stroke: 0.3px $themeWhite;
      &:hover,
      &:focus {
        border-bottom-color: $themeBlueAlpha;
        opacity: 0.85;
      }
      &.active {
        opacity: 1;
        border-bottom-color: $themeBlue;
      }
    }
    .MuiButton-text {
      padding: 5px 5px 1px;
      width: fit-content;
    }
  }
  .navBtn {
    display: none;
  }
  //-------- NAVBAR ON SCROLL
  &.white {
    background-color: white;
    box-shadow: 0 -1px 10px $offWhite;
    .logo svg path {
      fill: $themeBlack1;
      &:first-of-type {
        fill: $themeCoarseBlue;
      }
    }

    .nav {
      color: Black;
      -webkit-text-stroke: 0.3px Black;
      &:hover {
        border-bottom-color: $themeCoarseBlue;
      }
      &.active {
        border-bottom-color: $themeCoarseBlue;
      }
    }
    &.dark .theme button:hover {
      box-shadow: none;
    }
  }
}
*/
