// nav.Navbar {
//   .Logo {
//     span {
//     }
//     p {
//     }
//   }
//   > nav {
//     a {
//       &:hover {
//       }
//       &:focus,
//       &:focus-visible,
//       &:focus-within {
//       }
//       // ACTIVE NAV
//       &.screen {
//         &::after {
//         }
//       }
//     }
//   }
//   .hamburger {
//     svg {
//     }
//     &:hover {
//     }
//   }
//   //HAMBURGER CLICKED
//   &.nosmall {
//     > nav {
//     }
//   }
// }

//  Small iPhone:
nav.Navbar {
  @include flex;
  z-index: 5;
  width: 100%;
  top: 0;
  left: 0;
  height: 10vh;
  background: white;
  position: fixed;
  box-shadow: 0 3px 15px #ccca;
  @include trans;
  .Logo {
    padding-left: 1.2rem;
    z-index: 5;
    span {
      font-size: 7vw;
      color: $deep_yellow;
    }
    p {
      display: none;
    }
  }
  > nav {
    background-color: white;
    position: absolute;
    top: 10vh;
    @include flex($dir: column, $jus: center);
    @include transLong;
    height: 50vh;
    height: 42vh;
    width: 100%;
    left: 0;
    transform: translateY(0%);
    padding-bottom: 12vh;
    a {
      font-weight: 600;
      letter-spacing: -0.1px;
      text-transform: uppercase;
      text-decoration: none;
      color: $black2;
      margin: 1rem auto;
      @include trans;
      opacity: 0.7;
      font-size: 3.5vw;
      &:hover {
        opacity: 1;
        // font-size: 1.07rem;
        font-size: 2.75vw;
        color: black;
      }
      &:focus,
      &:focus-visible,
      &:focus-within {
        font-size: 2vw;
      }
      // ACTIVE NAV
      &.screen {
        letter-spacing: -0.5px;
        opacity: 1;
        color: black;
        font-size: 3.7vw;
        font-weight: 600;
        &::after {
          content: "";
          position: absolute;
          top: -0.5rem;
          left: -0.5rem;
          width: 1.5rem;
          height: 1.5rem;
          border-radius: 1000px;
          z-index: -1;
          background-color: $yellow2;
          border: 2px solid $deep_yellow;
        }
      }
      // z-index: 4;
    }
    z-index: 4;
  }
  .hamburger {
    display: block;
    margin-right: 1.2rem;
    padding: 6px 6px 1px;
    background: transparent;
    border: 1px solid #fbfbfb;
    border-radius: 30px;
    box-shadow: 1px 1px 5px 0.5px #eee2;
    z-index: 4;
    svg {
      color: #aaa;
      font-size: 5vw;
    }
    @include trans;
    &:hover {
      padding: 7px 7px 2px;
      cursor: pointer;
      border: 1px solid #eee;
      color: #111;
      box-shadow: 1px 1px 5px 0.5px #ccc3;
    }
  }
  //HAMBURGER CLICKED
  &.nosmall {
    > nav {
      transform: translateY(-100%);
    }
  }
}

//  Small iPhone 2: iPhone 6, iPhone 5/SE,
@media screen and (min-width: 320px) and (min-height: 551px) and (max-height: 750px) {
  // @media only screen and (min-width: 320px) and (max-height: 750px) {
  nav.Navbar {
    // @include flex;
    // z-index: 5;
    // width: 100%;
    // top: 0;
    // left: 0;
    height: 12vh;
    // background: white;
    // position: fixed;
    // box-shadow: 0 3px 15px #ccca;
    // @include trans;
    .Logo {
      // padding-left: 1.2rem;
      // z-index: 5;
      span {
        // font-size: 7vw;
        // color: $deep_yellow;
      }
      // p {
      //   display: none;
      // }
    }
    > nav {
      // background-color: white;
      // position: absolute;
      top: 12vh;
      // @include flex($dir: column, $jus: center);
      // @include transLong;
      // height: 50vh;
      height: 50vh;
      // width: 100%;
      // left: 0;
      // transform: translateY(0%);
      // padding-bottom: 9vh;
      a {
        // font-weight: 600;
        letter-spacing: 0px;
        // text-transform: uppercase;
        // text-decoration: none;
        // color: $black2;
        // margin: 1rem auto;
        // @include trans;
        // opacity: 0.7;
        font-size: 3.8vw;
        // &:hover {
        //   opacity: 1;
        //   // font-size: 1.07rem;
        //   font-size: 2.75vw;
        //   color: black;
        // }
        // &:focus,
        // &:focus-visible,
        // &:focus-within {
        //   font-size: 2vw;
        // }
        // ACTIVE NAV
        &.screen {
          // letter-spacing: -0.5px;
          // opacity: 1;
          // color: black;
          font-size: 4vw;
          // font-weight: 600;
          &::after {
            // content: "";
            // position: absolute;
            top: -0.4rem;
            left: -0.8rem;
            // width: 1.5rem;
            // height: 1.5rem;
            // border-radius: 1000px;
            // z-index: -1;
            // background-color: $yellow2;
            // border: 2px solid $deep_yellow;
          }
        }
        // z-index: 4;
      }
      // z-index: 4;
    }
    .hamburger {
      // display: block;
      // margin-right: 1.2rem;
      // padding: 6px 6px 1px;
      // background: transparent;
      // border: 1px solid #fbfbfb;
      // border-radius: 30px;
      // box-shadow: 1px 1px 5px 0.5px #eee2;
      // z-index: 4;
      // svg {
      //   color: #aaa;
      //   font-size: 5vw;
      // }
      // @include trans;
      // &:hover {
      //   padding: 7px 7px 2px;
      //   cursor: pointer;
      //   border: 1px solid #eee;
      //   color: #111;
      //   box-shadow: 1px 1px 5px 0.5px #ccc3;
      // }
    }
    //HAMBURGER CLICKED
    // &.nosmall {
    //   > nav {
    //     transform: translateY(-100%);
    //   }
    // }
  }
}

// iPhone 6/7/8 and similar devices: iPhone SE,
@media screen and (min-width: 375px) and (max-height: 667px) {
  nav.Navbar {
    .Logo {
      span {
      }
      p {
      }
    }
    > nav {
      top: 11.5vh;
      padding-bottom: 50vh;
      height: 77vh;
      a {
        font-size: 4.5vw;
        padding: 0.2rem;
        // margin: 1.2rem auto;
        &:hover {
          font-size: 4vw;
        }
        &:focus,
        &:focus-visible,
        &:focus-within {
        }
        // ACTIVE NAV
        &.screen {
          font-size: 5.25vw;
          &::after {
            top: -0.2rem;
            left: -0.8rem;
            width: 2rem;
            height: 2rem;
          }
        }
      }
    }
    .hamburger {
      margin-right: 1.35rem;
      padding: 8px 8px 3px;
      svg {
        font-size: 5.75vw;
      }
      &:hover {
        padding: 9px 9px 4px;
        svg {
          font-size: 5.9vw;
        }
      }
    }
    //HAMBURGER CLICKED
    &.nosmall {
      > nav {
      }
    }
  }
}

// For iPhone X and similar devices: 12 Pro,
@media only screen and (min-width: 375px) and (min-height: 730px) and (max-height: 850px) {
  nav.Navbar {
    height: 13vh;
    .Logo {
      span {
      }
      p {
      }
    }
    > nav {
      top: 13vh;
      // padding-bottom: 50vh;
      height: 77vh;
      a {
        font-size: 5vw;
        // padding: 0.2rem;
        // margin: 1.2rem auto;
        &:hover {
          font-size: 5.35vw;
        }
        &:focus,
        &:focus-visible,
        &:focus-within {
          font-size: 5.35vw;
        }
        // ACTIVE NAV
        &.screen {
          font-size: 5.7vw;
          &::after {
            top: -0.5rem;
            left: -1.2rem;
            width: 2.5rem;
            height: 2.5rem;
          }
        }
      }
    }
    .hamburger {
      margin-right: 1.5rem;
      padding: 10px 10px 5px;
      svg {
        font-size: 6.2vw;
      }
      &:hover {
        padding: 11px 11px 6px;
        // padding: 9px 9px 4px;
        svg {
          font-size: 6.5vw;
        }
      }
    }
    //HAMBURGER CLICKED
    &.nosmall {
      > nav {
      }
    }
  }
}

// For iPhone 6+/7+/8+ and similar devices: Nexus 6, iPhone XR
@media screen and (min-width: 410px) and (max-width: 480px) and (min-height: 730px) {
  //900
  nav.Navbar {
    height: 12vh;
    .Logo {
      span {
      }
      p {
      }
    }
    > nav {
      top: 12vh;
      // padding-bottom: 50vh;
      height: 78vh;
      a {
        font-size: 4.85vw;
        padding: 0.4rem;
        // margin: 1.2rem auto;
        &:hover {
          font-size: 5.35vw;
        }
        &:focus,
        &:focus-visible,
        &:focus-within {
          font-size: 5.35vw;
        }
        // ACTIVE NAV
        &.screen {
          font-size: 5.7vw;
          &::after {
            top: -0.15rem;
            left: -0.7rem;
            width: 2.5rem;
            height: 2.5rem;
          }
        }
      }
    }
    .hamburger {
      // margin-right: 1.5rem;
      // padding: 10px 10px 5px;
      svg {
        font-size: 6.5vw;
      }
      &:hover {
        // padding: 11px 11px 6px;
        // padding: 9px 9px 4px;
        svg {
          // font-size: 6.5vw;
        }
      }
    }
    //HAMBURGER CLICKED
    &.nosmall {
      > nav {
      }
    }
  }
}

// For iPads, Tablets Sizes: iPad , iPad Mini
@media screen and (min-width: 481px) and (max-width: 768px) and (max-height: 1024px) {
  nav.Navbar {
    height: 14vh;
    .Logo {
      span {
      }
      p {
      }
    }
    > nav {
      top: 14vh;
      // padding-bottom: 50vh;
      height: 86vh;
      a {
        font-size: 4.2vw;
        padding: 0.7rem;
        // margin: 1.2rem auto;
        &:hover {
          font-size: 4.5vw;
        }
        &:focus,
        &:focus-visible,
        &:focus-within {
          font-size: 5.25vw;
        }
        // ACTIVE NAV
        &.screen {
          font-size: 5.35vw;
          &::after {
            top: -0.1rem;
            left: -0.75rem;
            width: 4rem;
            height: 4rem;
          }
        }
      }
    }
    .hamburger {
      margin-right: 2.75rem;
      padding: 13px 13px 7px;
      svg {
        // font-size: 6.2vw;
      }
      &:hover {
        padding: 14px 14px 9px;
        svg {
          // font-size: 6.5vw;
        }
      }
    }
    //HAMBURGER CLICKED
    &.nosmall {
      > nav {
      }
    }
  }
}

// For Small screens, Laptops Sizes: iPad Air, Surface Pro
@media screen and (min-width: 769px) and (max-width: 1023px) {
  nav.Navbar {
    // @include flex;
    z-index: 5;
    // width: 100%;
    // position: absolute;
    // top: 0;
    // left: 0;
    box-shadow: 0 0 10px transparent;
    height: 7vh;
    background: linear-gradient(0deg, #00000001, #0001);
    // padding: 0;
    // .nosmall{}
    //  SCROLLED CHANGES
    &.Light {
      background: white;
      position: fixed;
      box-shadow: 0 3px 15px #eee5;
      .Logo {
        span {
        }
        p {
          color: $black;
        }
      }
      > nav {
        a {
          color: $black3;
          &:hover {
            color: black !important;
          }
          &.screen {
            color: black;
          }
          &:focus,
          &:focus-visible,
          &:focus-within {
            opacity: 1;
            color: black;
          }
        }
      }
    }
    //END SCROLL CHANGES
    .Logo {
      @include flex;
      padding-left: 2.5rem;
      color: white;
      span {
        // font-size: 2.5rem;
        font-size: 3vw;
        color: $deep_yellow;
      }
      p {
        font-family: Bart;
        text-transform: uppercase;
        font-size: 1.75vw;
        letter-spacing: 2px;
        height: fit-content;
        color: white;
        width: 8rem;
        text-align: center;
        display: block;
      }
    }
    > nav {
      flex-direction: row;
      // flex-direction: row;
      transform: none !important;
      height: auto !important;
      width: auto !important;
      padding: 0;
      // .5vw 0 0;
      background-color: transparent;
      position: initial;
      // margin: auto 0;
      a {
        // font-weight: 600;
        // letter-spacing: -0.1px;
        // text-transform: uppercase;
        // text-decoration: none;
        color: $white;
        margin: 0 2rem 0 0;
        // @include trans;
        // opacity: 0.8;
        // font-size: 1.05rem;
        font-size: 1.75vw;
        &:hover {
          opacity: 1;
          // font-size: 1.07rem;
          font-size: 1.6vw;
          color: white !important;
        }
        &:focus,
        &:focus-visible,
        &:focus-within {
          opacity: 0.9;
          font-size: 1.6vw;
        }
        // ACTIVE NAV
        &.screen {
          letter-spacing: -0.75px;
          opacity: 1;
          color: white;
          font-size: 2vw;
          // font-weight: 600;
          &::after {
            content: "";
            position: absolute;
            top: -0.3rem;
            left: -0.9rem;
            width: 1.75rem;
            height: 1.75rem;
            border-radius: 1000px;
            z-index: -1;
            background-color: $yellow2;
            border: 2px solid $deep_yellow;
          }
        }
      }
    }
    .hamburger {
      display: none;
    }
  }
}

//1280*800, 1366*768, 1920*1080, 1280*800, 1024*768,
// min-height: 768px

// For Desktops, Large screens, Extra large screens, TVs
@media screen and (min-width: 1024px) and (min-height: 550px) {
  nav.Navbar {
    @include flex;
    z-index: 5;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 0 0 transparent;
    height: 10vh;
    background: linear-gradient(0deg, #00000003, #0002);
    padding: 0;

    //  SCROLLED CHANGES
    &.Light {
      background: white;
      position: fixed;
      box-shadow: 0 3px 15px #eee5;
      .Logo {
        span {
        }
        p {
          color: $black;
        }
      }
      > nav {
        a {
          color: $black3;
          &:hover {
            color: black !important;
          }
          &.screen {
            color: black;
          }
          &:focus,
          &:focus-visible,
          &:focus-within {
            opacity: 1;
            color: black;
          }
        }
      }
    }
    //END SCROLL CHANGES
    .Logo {
      @include flex;
      padding-left: 2.5rem;
      color: white;
      span {
        // font-size: 2.5rem;
        font-size: 2.8vw;
        color: $deep_yellow;
      }
      p {
        font-family: Bart;
        text-transform: uppercase;
        font-size: 1.3vw;
        letter-spacing: 2px;
        height: fit-content;
        color: white;
        width: 8rem;
        text-align: center;
        display: block;
      }
    }
    > nav {
      flex-direction: row;
      height: auto !important;
      width: auto !important;
      padding: 0;
      background-color: transparent;
      position: initial;
      // margin: auto 0;
      transform: none !important;
      a {
        // font-weight: 600;
        // letter-spacing: -0.1px;
        // text-transform: uppercase;
        // text-decoration: none;
        color: $white;
        margin: 0 2rem 0 0;
        // @include trans;
        // opacity: 0.8;
        // font-size: 1.05rem;
        // font-size: 1.15vw;
        // font-size: 1.2vw;
        font-size: 1.4vw;
        &:hover {
          opacity: 1;
          // font-size: 1.07rem;
          font-size: 1.5vw;
          color: white !important;
        }
        &:focus,
        &:focus-visible,
        &:focus-within {
          opacity: 0.9;
          font-size: 1.3vw;
        }
        // ACTIVE NAV
        &.screen {
          letter-spacing: -0.5px;
          opacity: 1;
          color: white;
          font-size: 1.6vw;
          font-weight: 600;
          &::after {
            content: "";
            position: absolute;
            top: -0.5rem;
            left: -0.8rem;
            width: 2rem;
            height: 2rem;
            border-radius: 1000px;
            z-index: -1;
            background-color: $yellow2;
            border: 2px solid $deep_yellow;
          }
        }
      }
    }
    .hamburger {
      display: none;
    }
  }
}
@media screen and (min-width: 1300px) {
  nav.Navbar {
    // @include flex;
    // z-index: 5;
    // width: 100%;
    // position: absolute;
    // top: 0;
    // left: 0;
    // box-shadow: 0 0 0 transparent;
    // height: 10vh;
    // background: linear-gradient(0deg, #00000003, #0002);
    // padding: 0;

    //  SCROLLED CHANGES
    &.Light {
      // background: white;
      // position: fixed;
      // box-shadow: 0 3px 15px #eee5;
      .Logo {
        span {
          img {
            // width: 3vw;
          }
        }
        // p {
        //   color: $black;
        // }
      }
      > nav {
        a {
          // color: $black3;
          // &:hover {
          //   color: black !important;
          // }
          // &.screen {
          //   color: black;
          // }
          // &:focus,
          // &:focus-visible,
          // &:focus-within {
          //   opacity: 1;
          //   color: black;
          // }
        }
      }
    }
    //END SCROLL CHANGES
    .Logo {
      //   @include flex;
      //   padding-left: 2.5rem;
      //   color: white;
      span {
        //     // font-size: 2.5rem;
        //     font-size: 2.8vw;
        //     color: $deep_yellow;
        img {
          margin-top: 10px;
          width: 1.9vw;
        }
      }
      //   p {
      //     font-family: Bart;
      //     text-transform: uppercase;
      //     font-size: 1.3vw;
      //     letter-spacing: 2px;
      //     height: fit-content;
      //     color: white;
      //     width: 8rem;
      //     text-align: center;
      //     display: block;
      //   }
    }
    > nav {
      // flex-direction: row;
      // height: auto !important;
      // width: auto !important;
      // padding: 0;
      // background-color: transparent;
      // position: initial;
      // // margin: auto 0;
      // transform: none !important;
      a {
        // font-weight: 600;
        letter-spacing: 0.1px;
        // text-transform: uppercase;
        // text-decoration: none;
        // color: $white;
        // margin: 0 2rem 0 0;
        // @include trans;
        // opacity: 0.8;
        // font-size: 1.05rem;
        // font-size: 1.15vw;
        // font-size: 1.2vw;
        font-size: 1.3vw;
        &:hover {
          // opacity: 1;
          // font-size: 1.07rem;
          font-size: 1.325vw;
          // color: white !important;
        }
        &:focus,
        &:focus-visible,
        &:focus-within {
          // opacity: 0.9;
          font-size: 1.325vw;
        }
        // ACTIVE NAV
        &.screen {
          letter-spacing: -0.05px;
          // opacity: 1;
          // color: white;
          font-size: 1.4vw;
          // font-weight: 600;
          &::after {
            // content: "";
            // position: absolute;
            top: -0.275rem;
            left: -0.55rem;
            // width: 2rem;
            // height: 2rem;
            // border-radius: 1000px;
            // z-index: -1;
            // background-color: $yellow2;
            // border: 2px solid $deep_yellow;
          }
        }
      }
    }
  }
}
