nav.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  .Logo {
    padding: 1rem;
  }
  > nav {
    a {
      margin-right: 1.2rem;
    }
  }
}
