//  Small iPhone
// @media screen and (min-width: 320px) and (max-height: 550px) {
#Services {
  // height: 128vh;
  position: relative;
  .Bg__Image {
    height: 128vh;
  }
  .container {
    position: absolute;
    top: 0;
    left: 0;
    // right: 0;
    // padding: 0 2rem;
    width: 100%;
    h2 {
      width: fit-content;
      font-family: GillsHeavy;
      // text-align: right;
      text-transform: uppercase;
      font-size: 9vw;
      word-spacing: 5px;
      letter-spacing: -1px;
      color: $white;
      //  6rem font-family: GillsBold;
      margin: 3rem auto 1.5rem;
    }
    .OurServices {
      // @include flex($dir: column);
      @include flex($jus: center);
      flex-wrap: wrap;
      padding: 0 10px;
      position: relative;
      gap: 5px;
      z-index: 2;
      & > div {
        @include trans;
        overflow: hidden;
        border-radius: 1.2vh;
        border: 1px solid #2e0f1091;
        // border: 1px solid $dark_brown;
        box-shadow: 0 0 18px 1px $dark_brown;
        width: 45vw;
        height: 35vh;
        margin-bottom: 1.5vh;
        z-index: 0;
        &::before {
          @include transShort;
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 60vh;
          background: linear-gradient(0deg, #0009, #3331);
          z-index: 1;
        }
        img {
          @include trans;
          height: 62vh;
          object-fit: cover;
          width: 100%;
        }
        span {
          z-index: 2;
          position: absolute;
          // bottom: 13px;
          top: 50%;
          // transform: scale(1);
          left: 15px;
          line-height: 1.5;
          width: 80%;
          text-transform: uppercase;
          font-size: 9.5px;
          font-family: Gills;
          font-weight: 800;
          // text-align: left;
          text-align: center;
          letter-spacing: 0.3px;
          color: $pinkish_Light;
          // transform: scale(0);
        }
        &:hover {
          border-radius: 2vh;
          box-shadow: 0 0 40px 2px $dark_brown;
          z-index: 1;
          //   width: 48vw;
          // height: 42.5vh;
          img {
            filter: blur(1.1px);
            transform: scale(1.02);
          }
          &::before {
            // width: 100%;
            // height: 60vh;
            background: linear-gradient(0deg, #000e, #1118);
          }
          & span {
            // animation-timing-function:
            animation: zoom 450ms 1ms cubic-bezier(0.165, 0.84, 0.44, 1) 1
              forwards !important;
            // z-index: 2;
            // position: absolute;
            // bottom: 13px;
            // transform: scale(1);
            // left: 15px;
            // line-height: 1.5;
            // width: 80%;
            // text-transform: uppercase;
            // font-size: 12px;
            // font-family: GillsHeavy;
            // font-family: Gills;
            // font-weight: 800;
            // text-align: left;
            // letter-spacing: 0.3px;
            // color: $pinkish_Light;
          }
        }
      }
    }
  }
}
// }

//  Small iPhone 2
@media screen and (min-width: 320px) and (min-height: 551px) and (max-height: 750px) {
  #Services {
    // height: 124vh;
    // position: relative;
    .Bg__Image {
      // height: 112vh;
      height: 113vh;
    }
    .container {
      // position: absolute;
      // top: 0;
      // left: 0;
      // width: 100%;
      h2 {
        // width: fit-content;
        // font-family: GillsHeavy;
        // // text-align: right;
        // text-transform: uppercase;
        font-size: 8.5vw;
        // word-spacing: 5px;
        // letter-spacing: -1px;
        // color: $white;
        margin: 2.5rem auto 1.2rem;
      }
      .OurServices {
        // @include flex($jus: center);
        // flex-wrap: wrap;
        // padding: 0 10px;
        // position: relative;
        // gap: 5px;
        // z-index: 2;
        & > div {
          // @include trans;
          // overflow: hidden;
          // border-radius: 1.2vh;
          // border: 1px solid $dark_brown;
          // width: 45vw;
          height: 32vh;
          margin-bottom: 1vh;
          // z-index: 0;
          &::before {
            //   @include transShort;
            //   content: "";
            //   position: absolute;
            //   bottom: 0;
            //   left: 0;
            //   width: 0%;
            //   height: 0vh;
            //   background: linear-gradient(0deg, transparent, transparent);
            background: linear-gradient(0deg, #000e, transparent);
            //   z-index: 1;
          }
          img {
            height: 32vh;
            //   @include trans;
            //   height: 62vh;
            //   object-fit: cover;
            //   width: 100%;
            // }
            filter: brightness(1.25);
            // span {
            //   transform: scale(0);
          }
          &:hover {
            // border-radius: 2vh;
            // z-index: 1;
            // box-shadow: inset 0 0 10px #000, 0 0 30px 1px $dark_brown;
            img {
              // filter: blur(1.1px);
              // transform: scale(1.02);
            }
            &::before {
              // width: 100%;
              // height: 60vh;
              // background: linear-gradient(0deg, #000e, #1117);
            }
            & span {
              // z-index: 2;
              // position: absolute;
              // bottom: 13px;
              // transform: scale(1);
              // left: 15px;
              // line-height: 1.5;
              // width: 80%;
              // text-transform: uppercase;
              // font-size: 12px;
              // font-family: GillsHeavy;
              // font-family: Gills;
              // font-weight: 800;
              // text-align: left;
              // letter-spacing: 0.3px;
              // color: $pinkish_Light;
            }
          }
        }
      }
    }
  }
}
//  ( max-width:320px) and
// 321-374 ???

// iPhone 6/7/8 and similar devices:
@media screen and (min-width: 375px) and (max-height: 667px) {
  #Services {
    // height: 124vh;
    // position: relative;
    .Bg__Image {
      // height: 112vh;
      // height: 113vh;
    }
    .container {
      // position: absolute;
      // top: 0;
      // left: 0;
      // width: 100%;
      h2 {
        // width: fit-content;
        // font-family: GillsHeavy;
        // // text-align: right;
        // text-transform: uppercase;
        // font-size: 8.5vw;
        // word-spacing: 5px;
        // letter-spacing: -1px;
        // color: $white;
        // margin: 2.5rem auto 1.2rem;
      }
      .OurServices {
        // @include flex($jus: center);
        // flex-wrap: wrap;
        // padding: 0 10px;
        // position: relative;
        // gap: 5px;
        // z-index: 2;
        & > div {
          // @include trans;
          // overflow: hidden;
          // border-radius: 1.2vh;
          border: 1px solid transparent;
          //0 0 7px 1px $dark_brown;
          // width: 45vw;
          box-shadow: 0 1px 8px 0.1px #2e0f105a;
          height: 33vh;
          margin-bottom: 1.75vh;
          // z-index: 0;
          &::before {
            //   @include transShort;
            //   content: "";
            //   position: absolute;
            bottom: -1;
            left: 1;
            width: 102%;
            height: 33vh;
            //   background: linear-gradient(0deg, transparent, transparent);
            // background: linear-gradient(0deg, #000e, transparent);
            //   z-index: 1;
          }
          img {
            //   @include trans;
            height: 33vh;
            //   object-fit: cover;
            //   width: 100%;
            // }
            //   filter: brightness(1.25);
            // box-shadow: inset 0 0 13px 1px #000e;
            // span {
            //   transform: scale(0);
          }
          span {
            opacity: 0.6;
            font-size: 3.25vw;
          }
          &:hover {
            // border-radius: 2vh;
            // z-index: 1;
            // box-shadow: inset 0 0 10px #000, 0 0 30px 1px $dark_brown;
            img {
              // filter: blur(1.1px);
              // transform: scale(1.02);
            }
            &::before {
              // width: 100%;
              height: 33vh;
              // height: 60vh;
              // background: linear-gradient(0deg, #000e, #1117);
            }
            & span {
              opacity: 1;
              // z-index: 2;
              // position: absolute;
              // bottom: 13px;
              // transform: scale(1);
              // left: 15px;
              // line-height: 1.5;
              // width: 80%;
              // text-transform: uppercase;
              // font-size: 12px;
              // font-family: GillsHeavy;
              // font-family: Gills;
              // font-weight: 800;
              // text-align: left;
              // letter-spacing: 0.3px;
              // color: $pinkish_Light;
            }
          }
        }
      }
    }
  }
}

// For iPhone X and similar devices:
@media only screen and (min-width: 375px) and (min-height: 730px) and (max-height: 850px) {
  #Services {
    height: 95vh;
    // position: relative;
    .Bg__Image {
      height: 95vh;
      // height: 113vh;
    }
    .container {
      // position: absolute;
      // top: 0;
      // left: 0;
      // width: 100%;
      h2 {
        // width: fit-content;
        // font-family: GillsHeavy;
        // // text-align: right;
        // text-transform: uppercase;
        // font-size: 8.5vw;
        // word-spacing: 5px;
        letter-spacing: -2.5px;
        // color: $white;
        // margin: 2.5rem auto 1.2rem;
      }
      .OurServices {
        // @include flex($jus: center);
        // flex-wrap: wrap;
        // padding: 0 10px;
        // position: relative;
        // gap: 5px;
        // z-index: 2;
        & > div {
          // border: 1px solid transparent;
          // box-shadow: 0 1px 8px 0.1px #2e0f105a;
          height: 27vh;
          margin-bottom: 1vh;
          // @include trans;
          // overflow: hidden;
          // border-radius: 1.2vh;
          //0 0 7px 1px $dark_brown;
          // width: 45vw;
          // z-index: 0;
          &::before {
            // bottom: -1;
            // left: 1;
            // width: 102%;
            // height: 33vh;
            //   @include transShort;
            //   content: "";
            //   position: absolute;
            //   background: linear-gradient(0deg, transparent, transparent);
            // background: linear-gradient(0deg, #000e, transparent);
            //   z-index: 1;
          }
          img {
            height: 27vh;
            // height: 33vh;
            //   @include trans;
            //   object-fit: cover;
            //   width: 100%;
            // }
            //   filter: brightness(1.25);
            // box-shadow: inset 0 0 13px 1px #000e;
            // span {
            //   transform: scale(0);
          }
          span {
            font-size: 3vw;
            opacity: 0.6;
          }
          &:hover {
            // border-radius: 2vh;
            // z-index: 1;
            // box-shadow: inset 0 0 10px #000, 0 0 30px 1px $dark_brown;
            img {
              // filter: blur(1.1px);
              // transform: scale(1.02);
            }
            &::before {
              // width: 100%;
              // height: 33vh;
              // height: 60vh;
              // background: linear-gradient(0deg, #000e, #1117);
            }
            & span {
              // z-index: 2;
              // position: absolute;
              opacity: 1;
              // bottom: 13px;
              // transform: scale(1);
              // left: 15px;
              // line-height: 1.5;
              // width: 80%;
              // text-transform: uppercase;
              // font-size: 12px;
              // font-family: GillsHeavy;
              // font-family: Gills;
              // font-weight: 800;
              // text-align: left;
              // letter-spacing: 0.3px;
              // color: $pinkish_Light;
            }
          }
        }
      }
    }
  }
}

// For iPhone 6+/7+/8+ and similar devices: Nexus 6, iPhone XR
@media screen and (min-width: 410px) and (max-width: 480px) and (min-height: 730px) {
  #Services {
    height: 110vh;
    // position: relative;
    .Bg__Image {
      height: 110vh;
      // height: 113vh;
    }
    .container {
      // position: absolute;
      // top: 0;
      // left: 0;
      // width: 100%;
      h2 {
        // width: fit-content;
        // font-family: GillsHeavy;
        // // text-align: right;
        // text-transform: uppercase;
        font-size: 8vw;
        // word-spacing: 5px;
        // letter-spacing: -2.5px;
        // color: $white;
        // margin: 2.5rem auto 1.2rem;
      }
      .OurServices {
        // @include flex($jus: center);
        // flex-wrap: wrap;
        // padding: 0 10px;
        // position: relative;
        gap: 8px;
        // z-index: 2;
        & > div {
          // border: 1px solid transparent;
          // box-shadow: 0 1px 8px 0.1px #2e0f105a;
          width: 45vw;
          height: 32vh;
          // margin-bottom: 1vh;
          // @include trans;
          // overflow: hidden;
          // border-radius: 1.2vh;
          //0 0 7px 1px $dark_brown;
          // z-index: 0;
          &::before {
            // width: 100%;
            // height: 32vh;
            // bottom: -1;
            // left: 1;
            // width: 102%;
            // height: 33vh;
            //   @include transShort;
            //   content: "";
            //   position: absolute;
            //   background: linear-gradient(0deg, transparent, transparent);
            // background: linear-gradient(0deg, #000e, transparent);
            //   z-index: 1;
          }
          img {
            // height: 27vh;
            // height: 33vh;
            //   @include trans;
            height: 32vh;
            //   object-fit: cover;
            //   width: 100%;
            // }
            //   filter: brightness(1.25);
            // box-shadow: inset 0 0 13px 1px #000e;
            // span {
            //   transform: scale(0);
          }
          span {
            opacity: 0.6;
            font-size: 2.5vw;
          }
          &:hover {
            // border-radius: 2vh;
            // z-index: 1;
            // box-shadow: inset 0 0 10px #000, 0 0 30px 1px $dark_brown;
            img {
              // filter: blur(1.1px);
              // transform: scale(1.02);
            }
            &::before {
              // width: 100%;
              // height: 33vh;
              // height: 60vh;
              // background: linear-gradient(0deg, #000e, #1117);
            }
            & span {
              opacity: 1;
              // z-index: 2;
              // position: absolute;
              // bottom: 13px;
              // transform: scale(1);
              // left: 15px;
              // line-height: 1.5;
              // width: 80%;
              // text-transform: uppercase;
              // font-size: 12px;
              // font-family: GillsHeavy;
              // font-family: Gills;
              // font-weight: 800;
              // text-align: left;
              // letter-spacing: 0.3px;
              // color: $pinkish_Light;
            }
          }
        }
      }
    }
  }
}

// Longer phone iPhone XR
@media only screen and (min-height: 850px) {
  #Services {
    height: 95vh;
    .Bg__Image {
      height: 95vh;
    }
    .container {
      .OurServices {
        & > div {
          height: 27vh;
          img {
            height: 27vh;
          }
        }
      }
    }
  }
}

// For iPads, Tablets Sizes: iPad , iPad Mini
@media screen and (min-width: 481px) and (max-width: 768px) and (max-height: 1024px) {
  #Services {
    height: 120vh;
    .Bg__Image {
      height: 120vh;
    }
    .container {
      // position: absolute;
      // top: 0;
      // left: 0;
      // width: 100%;
      h2 {
        // width: fit-content;
        // font-family: GillsHeavy;
        // // text-align: right;
        // text-transform: uppercase;
        font-size: 7.2vw;
        // word-spacing: 5px;
        letter-spacing: -3px;
        // color: $white;
        margin: 3rem auto 1.5rem;
      }
      .OurServices {
        // @include flex($jus: center);
        // flex-wrap: wrap;
        // padding: 0 10px;
        // position: relative;
        gap: 1.2rem;
        // z-index: 2;
        & > div {
          // border: 1px solid transparent;
          // box-shadow: 0 1px 8px 0.1px #2e0f105a;
          width: 42vw;
          height: 37vh;
          margin-bottom: -0.75vh;
          // @include trans;
          // overflow: hidden;
          border-radius: 1.5vh;
          //0 0 7px 1px $dark_brown;
          // z-index: 0;
          &::before {
            // width: 100%;
            // height: 32vh;
            // bottom: -1;
            // left: 1;
            width: 102%;
            height: 37vh;
            // height: 33vh;
            //   @include transShort;
            //   content: "";
            //   position: absolute;
            //   background: linear-gradient(0deg, transparent, transparent);
            // background: linear-gradient(0deg, #000e, transparent);
            //   z-index: 1;
          }
          img {
            // height: 27vh;
            // height: 33vh;
            //   @include trans;
            height: 37vh;
            //   object-fit: cover;
            //   width: 100%;
            // }
            //   filter: brightness(1.25);
            // box-shadow: inset 0 0 13px 1px #000e;
            // span {
            //   transform: scale(0);
          }
          span {
            opacity: 0.7;
            left: 10%;
            font-size: 2.5vw;
          }
          &:hover {
            // border-radius: 2vh;
            // z-index: 1;
            // box-shadow: inset 0 0 10px #000, 0 0 30px 1px $dark_brown;
            img {
              // filter: blur(1.1px);
              // transform: scale(1.02);
            }
            &::before {
              // width: 100%;
              // height: 33vh;
              // height: 60vh;
              // background: linear-gradient(0deg, #000e, #1117);
            }
            & span {
              opacity: 1;
              // z-index: 2;
              // position: absolute;
              // bottom: 13px;
              // transform: scale(1);
              // left: 15px;
              // line-height: 1.5;
              // width: 80%;
              // text-transform: uppercase;
              // font-size: 12px;
              // font-family: GillsHeavy;
              // font-family: Gills;
              // font-weight: 800;
              // text-align: left;
              // letter-spacing: 0.3px;
              color: $white;
            }
          }
        }
      }
    }
  }
}

// For Small screens, Laptops Sizes: iPad Air, Surface Pro
@media screen and (min-width: 769px) and (max-width: 1023px) {
  #Services {
    height: 100vh;
    .Bg__Image {
      height: 100vh;
    }
    .container {
      // position: absolute;
      // top: 0;
      // left: 0;
      // width: 100%;
      h2 {
        // width: fit-content;
        // font-family: GillsHeavy;
        // // text-align: right;
        // text-transform: uppercase;
        font-size: 6vw;
        // word-spacing: 5px;
        letter-spacing: -0.5px;
        // color: $white;
        margin: 4rem auto 2rem;
      }
      .OurServices {
        // @include flex($jus: center);
        // flex-wrap: wrap;
        // padding: 0 10px;
        // position: relative;
        gap: 1.2rem;
        // z-index: 2;
        & > div {
          // border: 1px solid transparent;
          // box-shadow: 0 1px 8px 0.1px #2e0f105a;
          width: 38vw;
          height: 30vh;
          margin-bottom: -0.75vh;
          // @include trans;
          // overflow: hidden;
          border-radius: 1.2vh;
          //0 0 7px 1px $dark_brown;
          // z-index: 0;
          &::before {
            // width: 100%;
            // height: 30vh;
            // bottom: -1;
            // left: 1;
            width: 100%;
            height: 30vh;
            // height: 33vh;
            //   @include transShort;
            //   content: "";
            //   position: absolute;
            //   background: linear-gradient(0deg, transparent, transparent);
            // background: linear-gradient(0deg, #000e, transparent);
            //   z-index: 1;
          }
          img {
            // height: 27vh;
            // height: 33vh;
            //   @include trans;
            height: 30vh;
            //   object-fit: cover;
            //   width: 100%;
            // }
            //   filter: brightness(1.25);
            // box-shadow: inset 0 0 13px 1px #000e;
            // span {
            //   transform: scale(0);
          }
          span {
            opacity: 0.7;
            left: 10%;
            font-size: 2vw;
          }
          &:hover {
            border-radius: 1.75vh;
            // z-index: 1;
            // box-shadow: inset 0 0 10px #000, 0 0 30px 1px $dark_brown;
            img {
              // filter: blur(1.1px);
              // transform: scale(1.02);
            }
            &::before {
              // width: 100%;
              // height: 33vh;
              // height: 60vh;
              // background: linear-gradient(0deg, #000e, #1117);
            }
            & span {
              opacity: 1;
              // z-index: 2;
              // position: absolute;
              // bottom: 13px;
              // left: 15px;
              // transform: scale(2.5);
              // @include zoom2;
              animation: zoom2 400ms 1ms cubic-bezier(0.165, 0.84, 0.44, 1) 1
                forwards !important;
              // line-height: 1.5;
              // width: 80%;
              // text-transform: uppercase;
              // font-size: 12px;
              // font-family: GillsHeavy;
              // font-family: Gills;
              // font-weight: 800;
              // text-align: left;
              letter-spacing: 1px;
              color: $white;
            }
          }
        }
      }
    }
  }
}

// For Desktops, Large screens, Extra large screens, TVs
@media screen and (min-width: 1024px) and (min-height: 550px) {
  #Services {
    position: relative;
    height: 110vh;
    .Bg__Image {
      height: 110vh;
    }
    .container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      h2 {
        width: fit-content;
        font-family: GillsHeavy;
        text-transform: uppercase;
        font-size: 4.5vw;
        word-spacing: 7px;
        letter-spacing: -3px;
        color: $white;
        //  6rem font-family: GillsBold;
        margin: 4rem auto 2.75rem;
      }
      .OurServices {
        $service__Height: 46vh;
        @include flex;
        flex-wrap: wrap;
        position: relative;
        padding: 0 3.5rem;
        gap: 0.7rem;
        z-index: 2;
        & > div {
          @include trans;
          border-radius: 1.2vh;
          height: $service__Height;
          margin-bottom: 0.8rem;
          overflow: hidden;
          width: 32%;
          &::before {
            @include transShort;
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0%;
            height: 0vh;
            background: linear-gradient(0deg, transparent, transparent);
            z-index: 1;
          }
          img {
            height: $service__Height;
            object-fit: cover;
            @include trans;
            width: 100%;
          }
          span {
            transform: scale(0);
          }
          &:hover {
            img {
              filter: blur(1.1px);
              transform: scale(1.02);
            }
            &::before {
              width: 100%;
              height: $service__Height;
              background: linear-gradient(0deg, #000e, #1117);
            }
            & span {
              z-index: 2;
              position: absolute;
              transform: scale(1);
              left: 10%;
              // right: auto;
              // line-height: 1.4;
              width: 80%;
              text-transform: uppercase;
              font-size: 1.5vw;
              font-family: Gills;
              font-weight: 800;
              // transform: scale(1);
              margin: 0 auto;
              // left: 1.8rem;
              // line-height: 1.4;
              // width: 60%;
              text-align: center;
              letter-spacing: 0.3px;
              color: $pinkish_Light;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1300px) {
  #Services {
    // position: relative;
    height: 155vh;
    .Bg__Image {
      height: 155vh;
    }
    .container {
      // position: absolute;
      // top: 0;
      // left: 0;
      // width: 100%;
      h2 {
        // width: fit-content;
        // font-family: GillsHeavy;
        // text-transform: uppercase;
        // font-size: 3.2rem;
        // word-spacing: 7px;
        // letter-spacing: -3px;
        // color: $white;
        // margin: 6rem auto 2.5rem;
      }
      .OurServices {
        $service__Height: 65vh;
        // @include flex;
        // flex-wrap: wrap;
        // position: relative;
        padding: 0 5rem;
        // gap: 1.1rem;
        // z-index: 2;
        & > div {
          // overflow: hidden;
          // border-radius: 4px;
          width: 32%;
          // margin-bottom: 1.75rem;
          // @include trans;
          height: $service__Height;
          margin-bottom: 2rem;

          &::before {
            // content: "";
            // position: absolute;
            // bottom: 0;
            // left: 0;
            // width: 0%;
            // height: 0vh;
            // @include transShort;
            // background: linear-gradient(0deg, transparent, transparent);
            // z-index: 1;
          }
          img {
            height: $service__Height;
            // object-fit: cover;
            // @include trans;
            // width: 100%;
          }
          span {
            // transform: scale(0);
          }
          &:hover {
            img {
              // filter: blur(1.1px);
              // transform: scale(1.02);
            }
            &::before {
              // width: 100%;
              // background: linear-gradient(0deg, #000e, #1117);
              height: $service__Height;
            }
            & span {
              // z-index: 2;
              // position: absolute;
              // bottom: 1.4rem;
              // transform: scale(1);
              // left: 1.8rem;
              // line-height: 1.4;
              // width: 60%;
              // text-transform: uppercase;
              font-size: 1.2vw;
              // font-family: GillsHeavy;
              // font-family: Gills;
              // font-weight: 800;
              // text-align: left;
              // letter-spacing: 0.3px;
              // color: $pinkish_Light;
            }
          }
        }
      }
    }
  }
}

// ********************************************************
// PHONE LANDSCAPE   iPhone , Nexus 6, Samsung Galaxy S8+
@media screen and (min-height: 350px) and (max-width: 750px) and (orientation: Landscape) {
  #Services {
    // height: 128vh;
    // position: relative;
    height: 138vh;
    .Bg__Image {
      height: 138vh;
      // height: 150vh;
    }
    .container {
      // padding: 0 2rem;
      h2 {
        font-size: 5.5vw;
        letter-spacing: -1.5px;
        margin: 3rem auto 1rem;
      }
      .OurServices {
        gap:7px;
        & > div {
          // $high: 67vh;
          $high: 58vh;
          border-radius: 1.85vh;
          width: 29vw;
          height: $high;
          margin-bottom: 2vh;
          &::before {
            height: $high;
          }
          img {
            height: $high;
          }
          span {
            font-size: 0.755rem;
          }
          &:hover {
            border-radius: 2.1vh;
            box-shadow: 0 0 10px 2px $dark_brown;
            &::before {
            height: $high;
            }
            & span {
            }
          }
        }
      }
    }
  }
}

// PHONE LANDSCAPE   iPhone 4, iPhone 5/SE (-100px),
@media screen and (min-height: 320px) and (max-width: 580px) and (orientation: Landscape) {
  #Services {
    // height: 128vh;
    // position: relative;
    height: 145vh;
    .Bg__Image {
      height: 145vh;
      // height: 150vh;
    }
    .container {
      // padding: 0 2rem;
      h2 {
        font-size: 6vw;
        letter-spacing: -1.5px;
        margin: 3rem auto 1rem;
      }
      .OurServices {
        gap:7px;
        & > div {
          // $high: 67vh;
          $high:60vh;
          // border-radius: 1.85vh;
          width: 30vw;
          height: $high;
          margin-bottom: 2vh;
          &::before {
            height: $high;
          }
          img {
            height: $high;
          }
          span {
            font-size: 0.655rem;
          }
          &:hover {
            border-radius: 2.1vh;
            box-shadow: 0 0 10px 2px $dark_brown;
            &::before {
            height: $high;
            }
            & span {
            }
          }
        }
      }
    }
  }
}

// PHONE LANDSCAPE
@media screen and (min-height: 320px) and (max-height: 450px) {
  // #Services {
  //   // height: 128vh;
  //   // position: relative;
  //   .Bg__Image {
  //     height: 150vh;
  //   }
  //   .container {
  //     // position: absolute;
  //     // top: 0;
  //     // left: 0;
  //     // right: 0;
  //     // padding: 0 2rem;
  //     // width: 100%;
  //     h2 {
  //       // width: fit-content;
  //       // font-family: GillsHeavy;
  //       // // text-align: right;
  //       // text-transform: uppercase;
  //       font-size: 6.75vw;
  //       // word-spacing: 5px;
  //       // letter-spacing: -1px;
  //       // color: $white;
  //       //  6rem font-family: GillsBold;
  //       margin: 3rem auto 1rem;
  //     }
  //     .OurServices {
  //       // @include flex($dir: column);
  //       // @include flex($jus: center);
  //       // flex-wrap: wrap;
  //       // padding: 0 10px;
  //       // position: relative;
  //       gap:7px;
  //       // z-index: 2;
  //       & > div {
  //         // position: relative;
  //         $high: 67vh;
  //         $high: 60vh;
  //         // @include trans;
  //         // overflow: hidden;
  //         border-radius: 1.88vh;
  //         // border: 1px solid #2e0f1091;
  //         // border: 1px solid $dark_brown;
  //         // box-shadow: 0 0 18px 1px $dark_brown;
  //         width: 40vw;
  //         width: 30vw;
  //         height: $high;
  //         // margin-bottom: 1.5vh;
  //         // z-index: 0;
  //         &::before {
  //           // @include transShort;
  //           // content: "";
  //           // position: absolute;
  //           // left: 0;
  //           // top: 0;
  //           // width: 100%;
  //           height: $high;
  //           // background: linear-gradient(0deg, #0009, #3331);
  //           // z-index: 1;
  //         }
  //         img {
  //           // @include trans;
  //           height: $high;
  //           // height: 62vh;
  //           // object-fit: cover;
  //           // width: 100%;
  //         }
  //         span {
  //           // z-index: 2;
  //           // position: absolute;
  //           // // bottom: 13px;
  //           // top: 50%;
  //           // // transform: scale(1);
  //           // left: 15px;
  //           // line-height: 1.5;
  //           // width: 80%;
  //           // text-transform: uppercase;
  //           font-size: 0.6rem;
  //           // font-family: Gills;
  //           // font-weight: 800;
  //           // // text-align: left;
  //           // text-align: center;
  //           // letter-spacing: 0.3px;
  //           // color: $pinkish_Light;
  //           // transform: scale(0);
  //         }
  //         &:hover {
  //           border-radius: 2.2vh;
  //           box-shadow: 0 0 10px 2px $dark_brown;
  //           // z-index: 1;
  //           //   width: 48vw;
  //           // height: 42.5vh;
  //           img {
  //             // filter: blur(1.1px);
  //             // transform: scale(1.02);
  //           }
  //           &::before {
  //             // width: 100%;
  //           height: $high;
  //           // height: 60vh;
  //             // background: linear-gradient(0deg, #000e, #1118);
  //           }
  //           & span {
  //             // animation-timing-function:
  //             // animation: zoom 450ms 1ms cubic-bezier(0.165, 0.84, 0.44, 1) 1
  //             //   forwards !important;
  //             // z-index: 2;
  //             // position: absolute;
  //             // bottom: 13px;
  //             // transform: scale(1);
  //             // left: 15px;
  //             // line-height: 1.5;
  //             // width: 80%;
  //             // text-transform: uppercase;
  //             // font-size: 12px;
  //             // font-family: GillsHeavy;
  //             // font-family: Gills;
  //             // font-weight: 800;
  //             // text-align: left;
  //             // letter-spacing: 0.3px;
  //             // color: $pinkish_Light;
  //           }
  //         }
  //       }
  //     }
  //   }
  // }
}
