//  Small iPhone
// @media screen and (min-width: 320px) and (max-height: 550px) {
#About {
  @include flex($dir: column-reverse, $jus: center);
  height: 130vh;
  width: 100%;
  main {
    width: 90%;
    // padding: 0 5rem 1rem 0;
    // margin: auto 0;
    h2 {
      font-family: GillsHeavy;
      text-align: center;
      text-transform: uppercase;
      padding-top: 2.8rem;
      letter-spacing: -1px;
      font-size: 8vw;
      -webkit-text-stroke: 1px black;
      &::after {
        content: "";
        position: absolute;
        bottom: 0.05rem;
        right: 4.15rem;
        width: 7rem;
        opacity: 0.9;
        height: 0.6rem;
        // bottom: 0.5rem;
        // right: -0.25rem;
        // width: 10rem;
        // height: 1rem;
        border-radius: 1000px;
        z-index: -1;
        // z-index: 1;
        background-color: $yellow2;
        border: 2px solid $deep_yellow;
      }
      //   font-family: GillsBold;
    }
    p {
      font-family: Gills;
      width: 95%;
      text-shadow: 0 0 3px #2222;
      color: #111;
      letter-spacing: 0.2px;
      // word-spacing: 3px;
      // margin: 2rem 0 0 auto;
      margin: 1rem auto 0;
      font-size: 0.9rem;
      // font-size: 1.2rem;
      text-align: center;
      line-height: 6.8vh;
    }
  }
  .AboutImg {
    position: relative;
    width: 90%;
    // width: 60%;
    img {
      @include trans;
      position: absolute;
      // top: 9rem;
      top: 0;
      left: 1rem;
      width: 80vw;
      // width: 65vw;
      // width: 40vw;

      // margin: 0 auto;
    }
    .svg {
      width: 100%;
      svg {
        @include trans;
        width: 90vw;
        margin: -5rem auto 1rem;

        // width: 40vw;
        // margin: 2rem auto 0;
      }
    }
    &:hover {
      cursor: cell;
      img {
        // top: 10rem;
        // left: 2.5rem;
        transform: scale(1.05);
        // transform: rotateZ(-2.5deg);
        // transform: scale(0.95);
        // transform-origin: 0 -100%;
        // transform: scale(1.05) rotate(-7deg);
      }
      .svg svg {
        transform: rotate(30deg) scale(1.075);
        // transform: rotate3d(30deg);
      }
    }
  }
}
// }

//  Small iPhone 2
@media screen and (min-width: 320px) and (min-height: 551px) and (max-height: 750px) {
  #About {
    // @include flex($dir: column-reverse, $jus: center);
    height: 110vh;
    // width: 100%;
    main {
      width: 100%;
      // padding: 0 .7rem 0;
      // margin: auto 0;
      h2 {
        // font-family: GillsHeavy;
        // text-align: center;
        // text-transform: uppercase;
        // padding-top: 3rem;
        letter-spacing: -2px;
        font-size: 9vw;
        -webkit-text-stroke: 0.5px black;
        &::after {
          //   content: "";
          //   position: absolute;
          bottom: 0.3rem;
          right: 5rem;
          //   width: 8rem;
          //   opacity: 0.9;
          //   height: 0.8rem;
          //   // bottom: 0.5rem;
          //   // right: -0.25rem;
          //   // width: 10rem;
          //   // height: 1rem;
          //   border-radius: 1000px;
          //   z-index: -1;
          //   // z-index: 1;
          //   background-color: $yellow2;
          //   border: 2px solid $deep_yellow;
        }
        //   font-family: GillsBold;
      }
      p {
        // font-family: Gills;
        width: 94%;
        // text-shadow: 0 0 3px #2222;
        // color: #111;
        // letter-spacing: 0.2px;
        // // word-spacing: 3px;
        // // margin: 2rem 0 0 auto;
        // margin: 1rem auto 0;
        font-size: 13.75px;
        // // font-size: 1.2rem;
        // text-align: center;
        line-height: 2.2rem;
      }
    }
    .AboutImg {
      // position: relative;
      width: 95%;
      // width: 60%;
      img {
        // @include trans;
        // position: absolute;
        // // top: 9rem;
        // top: 1.2rem;
        // left: 1rem;
        width: 90vw;
        // width: 65vw;
        // width: 40vw;

        // margin: 0 auto;
      }
      .svg {
        //   width: 100%;
        svg {
          //     @include trans;
          //     width: 90vw;
          //     margin: -5rem auto 1rem;
          //     // width: 40vw;
          //     // margin: 2rem auto 0;
        }
      }
      &:hover {
        //   cursor: cell;
        img {
          //     // top: 10rem;
          //     // left: 2.5rem;
          //     transform: scale(1.05);
          //     // transform: rotateZ(-2.5deg);
          //     // transform: scale(0.95);
          //     // transform-origin: 0 -100%;
          //     // transform: scale(1.05) rotate(-7deg);
        }
        .svg svg {
          //     transform: rotate(30deg) scale(1.075);
          //     // transform: rotate3d(30deg);
        }
      }
    }
  }
}
// iPhone 6/7/8 and similar devices:
@media screen and (min-width: 375px) and (max-height: 667px) {
  #About {
    height: 100vh;
    // @include flex($dir: column-reverse, $jus: center);
    // width: 100%;
    main {
      // width: 100%;
      // padding: 0 .7rem 0;
      // margin: auto 0;
      h2 {
        // letter-spacing: -2px;
        font-size: 8vw;
        -webkit-text-stroke: 0.75px black;
        // font-family: GillsHeavy;
        // text-align: center;
        // text-transform: uppercase;
        // padding-top: 3rem;
        &::after {
          bottom: 0.2rem;
          right: 6.75rem;
          //   content: "";
          //   position: absolute;
          //   width: 8rem;
          //   opacity: 0.9;
          //   height: 0.8rem;
          //   // bottom: 0.5rem;
          //   // right: -0.25rem;
          //   // width: 10rem;
          //   // height: 1rem;
          //   border-radius: 1000px;
          //   z-index: -1;
          //   // z-index: 1;
          //   background-color: $yellow2;
          //   border: 2px solid $deep_yellow;
        }
        //   font-family: GillsBold;
      }
      p {
        width: 90%;
        font-size: 15px;
        // line-height: 2.2rem;
        // font-family: Gills;
        // text-shadow: 0 0 3px #2222;
        // color: #111;
        // letter-spacing: 0.2px;
        // // word-spacing: 3px;
        // // margin: 2rem 0 0 auto;
        // margin: 1rem auto 0;
        // // font-size: 1.2rem;
        // text-align: center;
      }
    }
    .AboutImg {
      // position: relative;
      // width: 95%;
      // width: 60%;
      img {
        // @include trans;
        // position: absolute;
        // // top: 9rem;
        // top: 1.2rem;
        // left: 1rem;
        // width: 90vw;
        // width: 65vw;
        // width: 40vw;

        // margin: 0 auto;
      }
      .svg {
        //   width: 100%;
        svg {
          //     @include trans;
          //     width: 90vw;
          //     margin: -5rem auto 1rem;
          //     // width: 40vw;
          //     // margin: 2rem auto 0;
        }
      }
      &:hover {
        //   cursor: cell;
        img {
          //     // top: 10rem;
          //     // left: 2.5rem;
          // transform: scale(1.05);
          // transform: rotateZ(-2.5deg);

          //     // transform: scale(0.95);
          // transform-origin: 0 0;
          // transform: scale(1.05) rotate(-2deg);
        }
        .svg svg {
          //     transform: rotate(30deg) scale(1.075);
          //     // transform: rotate3d(30deg);
        }
      }
    }
  }
}

// For iPhone X and similar devices:
@media only screen and (min-width: 375px) and (min-height: 730px) and (max-height: 850px) {
  #About {
    height: 100vh;
    // @include flex($dir: column-reverse, $jus: center);
    // width: 100%;
    main {
      width: 96%;
      // padding: 0 .7rem 0;
      // margin: auto 0;
      h2 {
        // letter-spacing: -2px;
        // font-size: 8vw;
        // -webkit-text-stroke: 0.75px black;
        // font-family: GillsHeavy;
        // text-align: center;
        // text-transform: uppercase;
        // padding-top: 3rem;
        &::after {
          // bottom: 0.2rem;
          right: 6rem;
          height: 0.9rem;
          //   content: "";
          //   position: absolute;
          //   width: 8rem;
          //   opacity: 0.9;
          //   // bottom: 0.5rem;
          //   // right: -0.25rem;
          //   // width: 10rem;
          //   // height: 1rem;
          // border-radius: 1000px;
          //   z-index: -1;
          //   // z-index: 1;
          //   background-color: $yellow2;
          //   border: 2px solid $deep_yellow;
        }
        //   font-family: GillsBold;
      }
      p {
        // width: 90%;
        font-size: 17px;
        line-height: 5.5vh;
        // font-family: Gills;
        // text-shadow: 0 0 3px #2222;
        // color: #111;
        // letter-spacing: 0.2px;
        // // word-spacing: 3px;
        // // margin: 2rem 0 0 auto;
        // margin: 1rem auto 0;
        // // font-size: 1.2rem;
        // text-align: center;
      }
    }
    .AboutImg {
      // position: relative;
      // width: 95%;
      // width: 60%;
      img {
        // @include trans;
        // position: absolute;
        // // top: 9rem;
        // top: 1.2rem;
        // left: 1rem;
        // width: 90vw;
        // width: 65vw;
        // width: 40vw;

        // margin: 0 auto;
      }
      .svg {
        //   width: 100%;
        svg {
          //     @include trans;
          //     width: 90vw;
          //     margin: -5rem auto 1rem;
          //     // width: 40vw;
          //     // margin: 2rem auto 0;
        }
      }
      &:hover {
        //   cursor: cell;
        img {
          //     // top: 10rem;
          //     // left: 2.5rem;
          // transform: scale(1.05);
          // transform: rotateZ(-2.5deg);

          //     // transform: scale(0.95);
          // transform-origin: 0 0;
          // transform: scale(1.05) rotate(-2deg);
        }
        .svg svg {
          //     transform: rotate(30deg) scale(1.075);
          //     // transform: rotate3d(30deg);
        }
      }
    }
  }
}

// For iPhone 6+/7+/8+ and similar devices: Nexus 6, iPhone XR
@media screen and (min-width: 410px) and (max-width: 480px) and (min-height: 730px) {
  #About {
    height: 120vh;
    // @include flex($dir: column-reverse, $jus: center);
    // width: 100%;
    main {
      width: 98%;
      // padding: 0 .7rem 0;
      // margin: auto 0;
      h2 {
        // letter-spacing: -2px;
        // font-size: 8vw;
        // -webkit-text-stroke: 0.75px black;
        // font-family: GillsHeavy;
        // text-align: center;
        // text-transform: uppercase;
        // padding-top: 3rem;
        &::after {
          bottom: 0.2rem;
          right: 6rem;
          height: 1rem;
          //   content: "";
          //   position: absolute;
          width: 9rem;
          opacity: 0.8;
          //   // bottom: 0.5rem;
          //   // right: -0.25rem;
          //   // width: 10rem;
          //   // height: 1rem;
          // border-radius: 1000px;
          //   z-index: -1;
          //   // z-index: 1;
          //   background-color: $yellow2;
          //   border: 2px solid $deep_yellow;
        }
        //   font-family: GillsBold;
      }
      p {
        padding-top: 0.35rem;
        // width: 90%;
        font-size: 17.5px;
        line-height: 6vh;
        // font-family: Gills;
        // text-shadow: 0 0 3px #2222;
        // color: #111;
        // letter-spacing: 0.2px;
        // // word-spacing: 3px;
        // // margin: 2rem 0 0 auto;
        // margin: 1rem auto 0;
        // // font-size: 1.2rem;
        // text-align: center;
      }
    }
    .AboutImg {
      // position: relative;
      // width: 95%;
      // width: 60%;
      img {
        // @include trans;
        // position: absolute;
        // // top: 9rem;
        // top: 1.2rem;
        // left: 1rem;
        // width: 90vw;
        // width: 65vw;
        // width: 40vw;

        // margin: 0 auto;
      }
      .svg {
        //   width: 100%;
        svg {
          //     @include trans;
          //     width: 90vw;
          //     margin: -5rem auto 1rem;
          //     // width: 40vw;
          //     // margin: 2rem auto 0;
        }
      }
      &:hover {
        //   cursor: cell;
        img {
          //     // top: 10rem;
          //     // left: 2.5rem;
          // transform: scale(1.05);
          // transform: rotateZ(-2.5deg);

          //     // transform: scale(0.95);
          // transform-origin: 0 0;
          // transform: scale(1.05) rotate(-2deg);
        }
        .svg svg {
          //     transform: rotate(30deg) scale(1.075);
          //     // transform: rotate3d(30deg);
        }
      }
    }
  }
}
// Longer phone iPhone XR
@media only screen and (min-height: 850px) {
  #About {
    height: 105vh;
    main h2 {
      &::after {
        // bottom: 0.2rem;
        right: 6.8rem;
      }
    }
  }
}

// For iPads, Tablets Sizes: iPad , iPad Mini
@media screen and (min-width: 481px) and (max-width: 768px) and (max-height: 1024px) {
  #About {
    height: 110vh;
    // @include flex($dir: column-reverse, $jus: center);
    // width: 100%;
    main {
      width: 100%;
      // padding: 0 .7rem 0;
      // margin: auto 0;
      h2 {
        // letter-spacing: -2px;
        font-size: 6.5vw;
        // -webkit-text-stroke: 0.75px black;
        // font-family: GillsHeavy;
        // text-align: center;
        // text-transform: uppercase;
        // padding-top: 3rem;
        &::after {
          bottom: 0.3rem;
          right: 15rem;
          height: 1.35rem;
          width: 12rem;
          // opacity: 0.8;
          //   content: "";
          //   position: absolute;
          //   // bottom: 0.5rem;
          //   // right: -0.25rem;
          //   // width: 10rem;
          //   // height: 1rem;
          // border-radius: 1000px;
          //   z-index: -1;
          //   // z-index: 1;
          //   background-color: $yellow2;
          //   border: 2px solid $deep_yellow;
        }
        //   font-family: GillsBold;
      }
      p {
        padding-top: 0.5rem;
        font-size: 23px;
        line-height: 6.5vh;
        // width: 90%;
        // font-family: Gills;
        // text-shadow: 0 0 3px #2222;
        // color: #111;
        // letter-spacing: 0.2px;
        // // word-spacing: 3px;
        // // margin: 2rem 0 0 auto;
        // margin: 1rem auto 0;
        // // font-size: 1.2rem;
        // text-align: center;
      }
    }
    .AboutImg {
      // position: relative;
      // width: 95%;
      // width: 60%;
      img {
        // @include trans;
        // position: absolute;
        // // top: 9rem;
        // top: 1.2rem;
        // left: 1rem;
        // width: 90vw;
        // width: 65vw;
        // width: 40vw;

        // margin: 0 auto;
      }
      .svg {
        //   width: 100%;
        svg {
          //     @include trans;
          width: 75vw;
          margin: -8rem auto 1rem 3.5rem;
          //     // width: 40vw;
          //     // margin: 2rem auto 0;
        }
      }
      &:hover {
        //   cursor: cell;
        img {
          //     // top: 10rem;
          //     // left: 2.5rem;
          // transform: scale(1.05);
          // transform: rotateZ(-2.5deg);

          //     // transform: scale(0.95);
          // transform-origin: 0 0;
          // transform: scale(1.05) rotate(-2deg);
        }
        .svg svg {
          //     transform: rotate(30deg) scale(1.075);
          //     // transform: rotate3d(30deg);
        }
      }
    }
  }
}

// For Small screens, Laptops Sizes: iPad Air, Surface Pro
@media screen and (min-width: 769px) and (max-width: 1023px) {
  #About {
    height: 100vh;
    // @include flex($dir: column-reverse, $jus: center);
    // width: 100%;
    main {
      // width: 100%;
      // padding: 0 .7rem 0;
      // margin: auto 0;
      h2 {
        // letter-spacing: -2px;
        font-size: 5vw;
        width: fit-content;
        // -webkit-text-stroke: 0.75px black;
        // font-family: GillsHeavy;
        // text-align: center;
        // text-transform: uppercase;
        // padding-top: 3rem;
        margin: 0 auto;
        &::after {
          bottom: 0.2rem;
          right: -0.2rem;
          height: 1.1rem;
          width: 10rem;
          // opacity: 0.8;
          //   content: "";
          //   position: absolute;
          //   // bottom: 0.5rem;
          //   // right: -0.25rem;
          //   // width: 10rem;
          //   // height: 1rem;
          // border-radius: 1000px;
          //   z-index: -1;
          //   // z-index: 1;
          //   background-color: $yellow2;
          //   border: 2px solid $deep_yellow;
        }
        //   font-family: GillsBold;
      }
      p {
        padding-top: 0.85rem;
        font-size: 27px;
        line-height: 5.25vh;
        width: 100%;
        // font-family: Gills;
        // text-shadow: 0 0 3px #2222;
        // color: #111;
        // letter-spacing: 0.2px;
        // // word-spacing: 3px;
        // // margin: 2rem 0 0 auto;
        // margin: 1rem auto 0;
        // // font-size: 1.2rem;
        // text-align: center;
      }
    }
    .AboutImg {
      // position: relative;
      // width: 95%;
      // width: 60%;
      img {
        // @include trans;
        // position: absolute;
        // // top: 9rem;
        // top: 1.2rem;
        // left: 1rem;
        // width: 90vw;
        // width: 65vw;
        // width: 40vw;

        // margin: 0 auto;
      }
      .svg {
        //   width: 100%;
        svg {
          //     @include trans;
          width: 75vw;
          margin: -8rem auto 1rem 3.5rem;
          //     // width: 40vw;
          //     // margin: 2rem auto 0;
        }
      }
      &:hover {
        //   cursor: cell;
        img {
          //     // top: 10rem;
          //     // left: 2.5rem;
          // transform: scale(1.05);
          // transform: rotateZ(-2.5deg);

          //     // transform: scale(0.95);
          // transform-origin: 0 0;
          // transform: scale(1.05) rotate(-2deg);
        }
        .svg svg {
          //     transform: rotate(30deg) scale(1.075);
          //     // transform: rotate3d(30deg);
        }
      }
    }
  }
}

// For Desktops, Large screens, Extra large screens, TVs
@media screen and (min-width: 1024px) {
  #About {
    @include flex;
    height: 120vh;
    width: 100%;
    main {
      width: 50%;
      padding: 0 5rem 1rem 0;
      // margin: auto 0;
      h2 {
        font-family: GillsHeavy;
        text-align: right;
        text-transform: uppercase;
        letter-spacing: -1px;
        font-size: 3rem;
        -webkit-text-stroke: 2px black;
        &::after {
          content: "";
          position: absolute;
          bottom: 0.5rem;
          right: -0.25rem;
          width: 10rem;
          height: 1rem;
          border-radius: 1000px;
          z-index: -1;
          // z-index: 1;
          background-color: $yellow2;
          border: 2px solid $deep_yellow;
        }
        //   font-family: GillsBold;
      }
      p {
        font-family: Gills;
        width: 82.5%;
        text-shadow: 0 0 5px #2222;
        color: #111;
        letter-spacing: 0.3px;
        word-spacing: 3px;
        margin: 2rem 0 0 auto;
        font-size: 1.2rem;
        text-align: right;
        line-height: 3.2rem;
      }
    }
    .AboutImg {
      position: relative;
      width: 50%;
      // width: 60%;
      img {
        @include trans;
        position: absolute;
        top: 9rem;
        left: 3rem;
        width: 50vw;
        // width: 65vw;
        // width: 40vw;

        // margin: 0 auto;
      }
      .svg {
        width: 100%;
        svg {
          @include trans;
          width: 40vw;
          margin: 4rem auto 0 3rem;

          // width: 40vw;
          // margin: 2rem auto 0;
        }
      }
      &:hover {
        cursor: cell;
        img {
          top: 10rem;
          left: 2.5rem;
          transform: scale(1.05);
          // transform: rotateZ(-2.5deg);
          // transform: scale(0.95);
          // transform-origin: 0 -100%;
          // transform: scale(1.05) rotate(-7deg);
        }
        .svg svg {
          transform: rotate(30deg) scale(1.075);
          // transform: rotate3d(30deg);
        }
      }
    }
  }
}
