/* INDEX CONTENT */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

* {
  padding: 0;
  position: relative;
  scroll-behavior: smooth !important;
  margin: 0;
}

/* APP CONTENT   */
.Bg__Image {
  /* background-position: 100% 100vh; */
  background-position: center;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

nav.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
}
nav.Navbar .Logo {
  padding: 1rem;
}
nav.Navbar > nav a {
  margin-right: 1.2rem;
}
